<header class="header">
  <div class="conteiner">
    <div class="header__box">
      <a class="header__logo" href="#">
        <!-- <svg>
          <use xlink:href="../images/sprite.svg#logo"></use>
        </svg> -->
        <p>LOGO</p>
      </a>

      <nav class="header__menu menu">
        <ul class="menu__list">
          <button class="close-menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill=""
              viewBox="0 0 16 16"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </button>
          <li class="menu__list">
            <a href="" class="menu__link">Item1</a>
          </li>
          <li class="menu__list">
            <a href="" class="menu__link">Item2</a>
          </li>
          <li class="menu__list">
            <a href="" class="menu__link">Item3</a>
          </li>
        </ul>
      </nav>
      <div class="header__user">
        <button class="open-modal">login</button>
        <button class="open-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill=""
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
