<dialog class="dialog">
  <div class="dialog__iner">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti rem
      Molestias praesentium repellat minima amet suscipit officia dicta error,
      atque consequuntur, blanditiis adipisci voluptates accusantium dolorum
      aspernatur commodi possimus optio quaerat, ipsum asperiores voluptatibus
      corporis. Placeat ratione, minus officia corporis voluptatem ducimus quam
      fugiat ipsum a deserunt enim!
    </p>
    <button class="cose-modal" type="batton">clase</button>
  </div>
</dialog>
