.header{
   background-color: aqua;
   padding: 10px;
}

.header__box,
.header__logo,
.header__user,
.menu__list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:10px;
 
}
.header__box{
   position:relative;
}


.close-menu,
.open-menu{
   display: none;
}

@media (max-width:850px){
   .menu__list,
   .close-menu,
.open-menu{
      display: block;
   }
   .menu{
      
      background-color: aqua;
      padding: 20px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transform: translateY(-600px);
      transition: transform .7s ease;
   }
   .menu.activ{
      transform: translateY(0px);
      transition: transform .7s ease;
   }
   .close-menu{
      margin-left: auto;
      width: 40px;
      stroke: #fff;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .open-menu{
      width: 40px;
      stroke: #fff;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    
   }
   .open-menu svg,
   .close-menu svg{
      width: 100%;
     }
}