.dialog{
   position:fixed;
   margin: 0;
   width: 400px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.dialog::backdrop{
   background-color: rgb(0 0 0 / 0.8);
}
.dialog__iner{
   padding: 50px;
   text-align: center;
}
.dialog__iner p{
   margin-bottom: 50px;
}

.close-modal{
   font-size: 20px;
   padding: 5px 45px;
}
.open-modal,
.cose-modal{
 background-color: #8fabb9;
  color: #fff;
  padding: 5px 10px;
  
}

.scroll-block{
   overflow: hidden;
}
